### AB Testing Kit
* [Guideline for AB testing](https://www.kaggle.com/code/ekrembayar/a-b-testing-step-by-step-hypothesis-testing)

### Import libraries

In [128]:
from statsmodels.stats.proportion import proportion_effectsize, proportions_ztest
from statsmodels.stats.power import NormalIndPower, TTestIndPower, zt_ind_solve_power
from scipy.stats import norm, ttest_ind
import numpy as np
import math
import statistics as st
from scipy import stats
import pandas as pd
from tabulate import tabulate
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import csv

### Data prepping

##### Import data

In [129]:
df_ab = pd.read_csv(r"C:\Users\Master\Documents\data_analytics\globox\ab_test_final.csv")

##### Check data

In [130]:
def check_df(dataframe, head):
    print("\n" + " DATAFRAME SUMMARY ".center(70, '=') + "")
    print("\n" + " INFO ".center(70, '-'))
    info_df = dataframe.dtypes.to_frame(name='Dtype')
    info_df['Non-Null'] = dataframe.notnull().sum()
    info_df['Unique'] = dataframe.nunique()
    info_df['Duplicate'] = dataframe.T.duplicated().sum()
    info_df['Missing'] = dataframe.isnull().sum()
    print(info_df)
    print('\nRows: {}'.format(dataframe.shape[0]))
    print('Columns: {}'.format(dataframe.shape[1]))
    print("\n" + " DESCRIBE ".center(70, '-'))
    print(dataframe.describe().T)
    print("\n" + " PERCENTILES ".center(70, '-'))
    print(dataframe.describe([0, 0.05, 0.50, 0.95, 0.99, 1]).T)
    print("\n" + " HEAD ".center(70, '-'))
    print(dataframe.head(head))
display(check_df(df_ab,1))

========================= DATAFRAME SUMMARY ==========================

-------------------------------- INFO --------------------------------
                             Dtype  Non-Null  Unique  Duplicate  Missing
user_id                      int64     48943   48943          0        0
country_name                object     48943      11          0        0
gender                      object     48943       4          0        0
test_group                  object     48943       2          0        0
conversion                   int64     48943       2          0        0
spend_USD                  float64     48943    1948          0        0
device                      object     48943       3          0        0
join_dt                     object     48943      13          0        0
first_active_dt             object     48943      13          0        0
last_active_dt              object     48943      13          0        0
purchase_days                int64     48943       3          0        0
user_lifespan_days           int64     48943       7          0        0
days_to_convert             object     48943       8          0        0
user_active_lifespan_days   object     48943       8          0        0
cohort_month                object     48943       2          0        0
cohort_week                 object     48943       3          0        0
spend_USD_200_plus          object     48943       2          0        0
truncate_set                object     48943       2          0        0
run_time                    object     48943       1          0        0

Rows: 48943
Columns: 19

------------------------------ DESCRIBE ------------------------------
                      count          mean           std        min        25%  \
user_id             48943.0  1.025001e+06  14435.211744  1000000.0  1012505.5
conversion          48943.0  4.278446e-02      0.202373        0.0        0.0
spend_USD           48943.0  3.382736e+00     25.674946        0.0        0.0
purchase_days       48943.0  4.562450e-02      0.221865        0.0        0.0
user_lifespan_days  48943.0  1.032773e+00      0.344411        1.0        1.0

                          50%        75%        max
user_id             1024996.0  1037503.5  1049999.0
conversion                0.0        0.0        1.0
spend_USD                 0.0        0.0     1659.4
purchase_days             0.0        0.0        2.0
user_lifespan_days        1.0        1.0        7.0

---------------------------- PERCENTILES -----------------------------
                      count          mean           std        min         0%  \
user_id             48943.0  1.025001e+06  14435.211744  1000000.0  1000000.0
conversion          48943.0  4.278446e-02      0.202373        0.0        0.0
spend_USD           48943.0  3.382736e+00     25.674946        0.0        0.0
purchase_days       48943.0  4.562450e-02      0.221865        0.0        0.0
user_lifespan_days  48943.0  1.032773e+00      0.344411        1.0        1.0

                           5%        50%        95%           99%       100%  \
user_id             1002501.1  1024996.0  1047509.9  1.049502e+06  1049999.0
conversion                0.0        0.0        0.0  1.000000e+00        1.0
spend_USD                 0.0        0.0        0.0  9.732580e+01     1659.4
purchase_days             0.0        0.0        0.0  1.000000e+00        2.0
user_lifespan_days        1.0        1.0        1.0  2.000000e+00        7.0

                          max
user_id             1049999.0
conversion                1.0
spend_USD              1659.4
purchase_days             2.0
user_lifespan_days        7.0

-------------------------------- HEAD --------------------------------
   user_id country_name gender    test_group  conversion  spend_USD device  \
0  1000000       Canada   Male  B: treatment           0        0.0    iOS

      join_dt first_active_dt last_active_dt  purchase_days  \
0  2023-01-28      2023-01-28     2023-01-28              0

   user_lifespan_days days_to_convert user_active_lifespan_days cohort_month  \
0                   1   no conversion             no conversion     Jan-2023

     cohort_week spend_USD_200_plus truncate_set             run_time
0  2023: Week 04                  N            Y  2023-06-29 14:01:45

None

##### Summary table

In [131]:
# Summary table module
# Define column order
column_order = ['users', 'conversions', 'conversion_rate', 'total_spend_USD', 'avg_spend_USD']
# Calculate summary statistics by test_group and country_name
summary = df_ab.groupby(['test_group','country_name']).agg({'conversion': 'sum', 'spend_USD': 'sum', 'user_id': 'nunique'})
summary.columns = ['conversions', 'total_spend_USD', 'users']
summary['conversion_rate'] = summary['conversions'] / summary['users']
summary['avg_spend_USD'] = summary['total_spend_USD'] / summary['users']
summary = summary[column_order]
# Calculate subtotals by test_group
sub = df_ab.groupby('test_group').agg({'conversion': 'sum', 'spend_USD': 'sum', 'user_id': 'nunique'})
sub.columns = ['conversions', 'total_spend_USD', 'users']
sub['conversion_rate'] = sub['conversions'] / sub['users']
sub['avg_spend_USD'] = sub['total_spend_USD'] / sub['users']
sub = sub[column_order]
sub.index = pd.MultiIndex.from_tuples([(x, 'Subtotal') for x in sub.index])
# Calculate grand total
total = pd.DataFrame({
    'conversions': [df_ab['conversion'].sum()],
    'total_spend_USD': [df_ab['spend_USD'].sum()],
    'users': [df_ab['user_id'].nunique()]})
total['conversion_rate'] = total['conversions'] / total['users']
total['avg_spend_USD'] = total['total_spend_USD'] / total['users']
total.index = pd.MultiIndex.from_tuples([('Grand Total', '')])
total = total[column_order]
# Merge summary statistics, subtotals, and grand total and display results
result = pd.concat([summary, sub, total])
# Export summary table module
file_path = f"C:\\Users\\Master\\Documents\\data_analytics\\globox\\summary_{datetime.now().strftime('%Y-%m-%d_%H-%M-%S')}.csv"
# Save result DataFrame to CSV file
result.to_csv(file_path)
display(result.head(200))

                             users  conversions  conversion_rate  \
test_group   country_name
A: control   Australia         608           13         0.021382
             Brazil           4805          179         0.037253
             Canada            767           36         0.046936
             France           1536           48         0.031250
             Germany          1906           61         0.032004
             Mexico           2815           83         0.029485
             Spain             997           29         0.029087
             Turkiye          1849           74         0.040022
             USA              7309          374         0.051170
             United Kingdom   1455           42         0.028866
             unknown           296           16         0.054054
B: treatment Australia         560           17         0.030357
             Brazil           4629          188         0.040614
             Canada            803           52         0.064757
             France           1554           65         0.041828
             Germany          1948           86         0.044148
             Mexico           2923          130         0.044475
             Spain             996           36         0.036145
             Turkiye          1883           67         0.035582
             USA              7463          429         0.057484
             United Kingdom   1494           55         0.036814
             unknown           347           14         0.040346
A: control   Subtotal        24343          955         0.039231
B: treatment Subtotal        24600         1139         0.046301
Grand Total                  48943         2094         0.042784

                             total_spend_USD  avg_spend_USD
test_group   country_name
A: control   Australia           1014.380000       1.668388
             Brazil             15442.946812       3.213933
             Canada              2762.660237       3.601904
             France              4113.213833       2.677874
             Germany             6481.521714       3.400589
             Mexico              7915.628884       2.811946
             Spain               2171.860000       2.178395
             Turkiye             6814.259298       3.685375
             USA                31394.809752       4.295363
             United Kingdom      3068.220090       2.108742
             unknown              966.402445       3.264873
B: treatment Australia           1165.150000       2.080625
             Brazil             14193.055138       3.066117
             Canada              3371.450000       4.198568
             France              3524.629438       2.268101
             Germany             5275.350000       2.708085
             Mexico              9778.914089       3.345506
             Spain               3221.300363       3.234237
             Turkiye             4686.706379       2.488957
             USA                30250.912033       4.053452
             United Kingdom      6720.018000       4.498004
             unknown             1227.841428       3.538448
A: control   Subtotal           82145.903065       3.374518
B: treatment Subtotal           83415.326869       3.390867
Grand Total                    165561.229934       3.382736

##### Country table

In [132]:
# Country View
print("Country View:")
df_ab['lifespan_conversion'] = df_ab['user_lifespan_days'] * df_ab['conversion']
test = df_ab.groupby(['country_name', 'test_group']).agg({'user_id': 'count', 'conversion': ['sum', 'mean'], 'spend_USD': ['sum', 'mean'], 'user_lifespan_days': 'mean', 'lifespan_conversion': 'sum'})
test.columns = ['users', 'conversions', 'conversion_rate', 'total_spend', 'avg_spend', 'lifespan', 'lifespan_conversion']
test['lifespan_conversion'] = test['lifespan_conversion'] / test['conversions']
test['unconverted'] = test['users']-test['conversions']
test['avg_spend_conversion'] = test['total_spend']/test['conversions'] 
test = test[['users', 'conversions', 'unconverted', 'conversion_rate', 'total_spend', 'avg_spend', 'avg_spend_conversion', 'lifespan', 'lifespan_conversion']]
test = test.sort_values(by='users', ascending=False)
display(test)
df_ab = df_ab.drop('lifespan_conversion', axis = 1)

print("\nUSA Summary:")
# locate index  = 'USA'
usa = test.loc['USA']
display(usa)

Country View:

                             users  conversions  unconverted  conversion_rate  \
country_name   test_group
USA            B: treatment   7463          429         7034         0.057484
               A: control     7309          374         6935         0.051170
Brazil         A: control     4805          179         4626         0.037253
               B: treatment   4629          188         4441         0.040614
Mexico         B: treatment   2923          130         2793         0.044475
               A: control     2815           83         2732         0.029485
Germany        B: treatment   1948           86         1862         0.044148
               A: control     1906           61         1845         0.032004
Turkiye        B: treatment   1883           67         1816         0.035582
               A: control     1849           74         1775         0.040022
France         B: treatment   1554           65         1489         0.041828
               A: control     1536           48         1488         0.031250
United Kingdom B: treatment   1494           55         1439         0.036814
               A: control     1455           42         1413         0.028866
Spain          A: control      997           29          968         0.029087
               B: treatment    996           36          960         0.036145
Canada         B: treatment    803           52          751         0.064757
               A: control      767           36          731         0.046936
Australia      A: control      608           13          595         0.021382
               B: treatment    560           17          543         0.030357
unknown        B: treatment    347           14          333         0.040346
               A: control      296           16          280         0.054054

                              total_spend  avg_spend  avg_spend_conversion  \
country_name   test_group
USA            B: treatment  30250.912033   4.053452             70.514946
               A: control    31394.809752   4.295363             83.943342
Brazil         A: control    15442.946812   3.213933             86.273446
               B: treatment  14193.055138   3.066117             75.494974
Mexico         B: treatment   9778.914089   3.345506             75.222416
               A: control     7915.628884   2.811946             95.369023
Germany        B: treatment   5275.350000   2.708085             61.341279
               A: control     6481.521714   3.400589            106.254454
Turkiye        B: treatment   4686.706379   2.488957             69.950841
               A: control     6814.259298   3.685375             92.084585
France         B: treatment   3524.629438   2.268101             54.225068
               A: control     4113.213833   2.677874             85.691955
United Kingdom B: treatment   6720.018000   4.498004            122.182145
               A: control     3068.220090   2.108742             73.052859
Spain          A: control     2171.860000   2.178395             74.891724
               B: treatment   3221.300363   3.234237             89.480566
Canada         B: treatment   3371.450000   4.198568             64.835577
               A: control     2762.660237   3.601904             76.740562
Australia      A: control     1014.380000   1.668388             78.029231
               B: treatment   1165.150000   2.080625             68.538235
unknown        B: treatment   1227.841428   3.538448             87.702959
               A: control      966.402445   3.264873             60.400153

                             lifespan  lifespan_conversion
country_name   test_group
USA            B: treatment  1.040332             1.701632
               A: control    1.041045             1.802139
Brazil         A: control    1.031009             1.832402
               B: treatment  1.016418             1.404255
Mexico         B: treatment  1.029764             1.669231
               A: control    1.019183             1.650602
Germany        B: treatment  1.049281             2.116279
               A: control    1.023610             1.737705
Turkiye        B: treatment  1.032926             1.925373
               A: control    1.027042             1.675676
France         B: treatment  1.036680             1.876923
               A: control    1.023438             1.750000
United Kingdom B: treatment  1.047523             2.290909
               A: control    1.024055             1.833333
Spain          A: control    1.035105             2.206897
               B: treatment  1.051205             2.416667
Canada         B: treatment  1.027397             1.423077
               A: control    1.035202             1.750000
Australia      A: control    1.006579             1.307692
               B: treatment  1.025000             1.823529
unknown        B: treatment  1.043228             2.071429
               A: control    1.057432             2.062500

USA Summary:

,users,conversions,unconverted,conversion_rate,total_spend,avg_spend,avg_spend_conversion,lifespan,lifespan_conversion
test_group,,,,,,,,,
B: treatment,7463,429,7034,0.057484,30250.912033,4.053452,70.514946,1.040332,1.701632
A: control,7309,374,6935,0.051170,31394.809752,4.295363,83.943342,1.041045,1.802139

##### Average conversion rate and per user $ spend by groups

In [133]:
# General conversions and spend 
df_ab['lifespan_conversion'] = df_ab['user_lifespan_days'] * df_ab['conversion']
test = df_ab.groupby(['test_group']).agg({'user_id': 'count', 'conversion': ['sum', 'mean'], 'spend_USD': ['sum', 'mean'], 'user_lifespan_days': 'mean', 'lifespan_conversion': 'sum'})
test.columns = ['users', 'conversions', 'conversion_rate', 'total_spend', 'avg_spend', 'lifespan', 'lifespan_conversion']
test['lifespan_conversion'] = test['lifespan_conversion'] / test['conversions']
test['unconverted'] = test['users']-test['conversions']
test['avg_spend_conversion'] = test['total_spend']/test['conversions'] 
test = test[['users', 'conversions', 'unconverted', 'conversion_rate', 'total_spend', 'avg_spend', 'avg_spend_conversion', 'lifespan', 'lifespan_conversion']]
display(test)
df_ab = df_ab.drop('lifespan_conversion', axis = 1)

,users,conversions,unconverted,conversion_rate,total_spend,avg_spend,avg_spend_conversion,lifespan,lifespan_conversion
test_group,,,,,,,,,
A: control,24343,955,23388,0.039231,82145.903065,3.374518,86.016652,1.030892,1.787435
B: treatment,24600,1139,23461,0.046301,83415.326869,3.390867,73.235581,1.034634,1.748025

In [134]:
# Device conversions and spend 
df_ab['lifespan_conversion'] = df_ab['user_lifespan_days'] * df_ab['conversion']
test = df_ab.groupby(['device', 'test_group']).agg({'user_id': 'count', 'conversion': ['sum', 'mean'], 'spend_USD': ['sum', 'mean'], 'user_lifespan_days': 'mean', 'lifespan_conversion': 'sum'})
test.columns = ['users', 'conversions', 'conversion_rate', 'total_spend', 'avg_spend', 'lifespan', 'lifespan_conversion']
test['lifespan_conversion'] = test['lifespan_conversion'] / test['conversions']
test['unconverted'] = test['users']-test['conversions']
test['avg_spend_conversion'] = test['total_spend']/test['conversions'] 
test = test[['users', 'conversions', 'unconverted', 'conversion_rate', 'total_spend', 'avg_spend', 'avg_spend_conversion', 'lifespan', 'lifespan_conversion']]
display(test)
df_ab = df_ab.drop('lifespan_conversion', axis = 1)

                      users  conversions  unconverted  conversion_rate  \
device  test_group
Android A: control    15054          417        14637         0.027700
        B: treatment  15235          537        14698         0.035248
iOS     A: control     9142          535         8607         0.058521
        B: treatment   9218          596         8622         0.064656
unknown A: control      147            3          144         0.020408
        B: treatment    147            6          141         0.040816

                       total_spend  avg_spend  avg_spend_conversion  lifespan  \
device  test_group
Android A: control    34814.470516   2.312639             83.487939  1.021058
        B: treatment  37567.903211   2.465895             69.958851  1.024943
iOS     A: control    46370.332548   5.072231             86.673519  1.047583
        B: treatment  45339.320053   4.918564             76.072685  1.050662
unknown A: control      961.100000   6.538095            320.366667  1.000000
        B: treatment    508.103605   3.456487             84.683934  1.034014

                      lifespan_conversion
device  test_group
Android A: control               1.760192
        B: treatment             1.707635
iOS     A: control               1.813084
        B: treatment             1.783557
unknown A: control               1.000000
        B: treatment             1.833333

In [135]:
# Gender conversions and spend 
df_ab['lifespan_conversion'] = df_ab['user_lifespan_days'] * df_ab['conversion']
test = df_ab.groupby(['gender', 'test_group']).agg({'user_id': 'count', 'conversion': ['sum', 'mean'], 'spend_USD': ['sum', 'mean'], 'user_lifespan_days': 'mean', 'lifespan_conversion': 'sum'})
test.columns = ['users', 'conversions', 'conversion_rate', 'total_spend', 'avg_spend', 'lifespan', 'lifespan_conversion']
test['lifespan_conversion'] = test['lifespan_conversion'] / test['conversions']
test['unconverted'] = test['users']-test['conversions']
test['avg_spend_conversion'] = test['total_spend']/test['conversions'] 
test = test[['users', 'conversions', 'unconverted', 'conversion_rate', 'total_spend', 'avg_spend', 'avg_spend_conversion', 'lifespan', 'lifespan_conversion']]
display(test)
df_ab = df_ab.drop('lifespan_conversion', axis = 1)

                      users  conversions  unconverted  conversion_rate  \
gender  test_group
Female  A: control    10069          518         9551         0.051445
        B: treatment  10061          547         9514         0.054368
Male    A: control    10054          264         9790         0.026258
        B: treatment  10235          388         9847         0.037909
Other   A: control      808           26          782         0.032178
        B: treatment    861           26          835         0.030197
unknown A: control     3412          147         3265         0.043083
        B: treatment   3443          178         3265         0.051699

                       total_spend  avg_spend  avg_spend_conversion  lifespan  \
gender  test_group
Female  A: control    44936.242253   4.462831             86.749502  1.043103
        B: treatment  41551.119610   4.129919             75.961827  1.039757
Male    A: control    22616.227926   2.249476             85.667530  1.019694
        B: treatment  26616.948653   2.600581             68.600383  1.028823
Other   A: control     2236.009887   2.767339             86.000380  1.014851
        B: treatment   2384.964561   2.769994             91.729406  1.012776
unknown A: control    12357.422999   3.621754             84.064102  1.031653
        B: treatment  12862.294046   3.735781             72.260079  1.042405

                      lifespan_conversion
gender  test_group
Female  A: control               1.837838
        B: treatment             1.731261
Male    A: control               1.750000
        B: treatment             1.760309
Other   A: control               1.461538
        B: treatment             1.423077
unknown A: control               1.734694
        B: treatment             1.820225

In [136]:
# Cohort conversions and spend 
df_ab['lifespan_conversion'] = df_ab['user_lifespan_days'] * df_ab['conversion']
test = df_ab.groupby(['cohort_month', 'test_group']).agg({'user_id': 'count', 'conversion': ['sum', 'mean'], 'spend_USD': ['sum', 'mean'], 'user_lifespan_days': 'mean', 'lifespan_conversion': 'sum'})
test.columns = ['users', 'conversions', 'conversion_rate', 'total_spend', 'avg_spend', 'lifespan', 'lifespan_conversion']
test['lifespan_conversion'] = test['lifespan_conversion'] / test['conversions']
test['unconverted'] = test['users']-test['conversions']
test['avg_spend_conversion'] = test['total_spend']/test['conversions'] 
test = test[['users', 'conversions', 'unconverted', 'conversion_rate', 'total_spend', 'avg_spend', 'avg_spend_conversion', 'lifespan', 'lifespan_conversion']]
display(test)
df_ab = df_ab.drop('lifespan_conversion', axis = 1)

                           users  conversions  unconverted  conversion_rate  \
cohort_month test_group
Feb-2023     A: control     4728          174         4554         0.036802
             B: treatment   4860          226         4634         0.046502
Jan-2023     A: control    19615          781        18834         0.039816
             B: treatment  19740          913        18827         0.046251

                            total_spend  avg_spend  avg_spend_conversion  \
cohort_month test_group
Feb-2023     A: control    15650.443041   3.310161             89.945075
             B: treatment  16416.952567   3.377974             72.641383
Jan-2023     A: control    66495.460024   3.390031             85.141434
             B: treatment  66998.374302   3.394041             73.382666

                           lifespan  lifespan_conversion
cohort_month test_group
Feb-2023     A: control    1.020939             1.568966
             B: treatment  1.024280             1.522124
Jan-2023     A: control    1.033291             1.836108
             B: treatment  1.037183             1.803943

In [137]:
# Convert only
convert = df_ab[df_ab['conversion']==1].groupby(['test_group', 'country_name', 'gender', 'device']).agg({'user_id': 'count', 'spend_USD': 'mean', 'user_lifespan_days': 'mean'})
convert.columns = ['users', 'avg_spend', 'lifespan']
# Export summary table module
file_path = f"C:\\Users\\Master\\Documents\\data_analytics\\globox\\convert_{datetime.now().strftime('%Y-%m-%d_%H-%M-%S')}.csv"
# Save result DataFrame to CSV file
convert.to_csv(file_path)
convert.head(200)

                                           users   avg_spend  lifespan
test_group   country_name gender  device
A: control   Australia    Female  Android      6   72.013333  1.166667
                                  iOS          4   95.760000  1.000000
                          Male    iOS          2   83.850000  2.500000
                          unknown iOS          1   31.560000  1.000000
             Brazil       Female  Android     49   87.696393  1.816327
...                                          ...         ...       ...
B: treatment unknown      Female  Android      2   21.100000  1.000000
                                  iOS          3  105.370476  2.666667
                          Male    Android      4   75.832500  3.500000
                                  iOS          4   99.585000  1.000000
                          Other   iOS          1  167.860000  1.000000

[167 rows x 3 columns]

### Programs
* Application guidelines
    * MDE or minimum detectable effect is expressed on relative change basis
    * t_test: difference in means
    * z_test: difference in proportions (large sample, > 30 observations)
    * z_test_clt: difference in means, only if Central Limit Theorem applies (sample size > 30) i.e. t-test sans degrees of freedom - decommissioned but available in older version
    * chi_sq_test: difference in proportions (small sample, < 30 observations) - not built
* Sources
    * [Link](https://www.cuemath.com/data/z-test/) pooled proportions se (z-test) 
    * [Link](https://cms.master.school/confidence-interval-and-hypothesis-testing-cheat-sheet) unpooled proportions se (z-test)
    * [Link](https://online.stat.psu.edu/stat500/lesson/7/7.3/7.3.1/7.3.1.1) pooled se & df (t-test)
    * [Link](https://online.stat.psu.edu/stat500/lesson/7/7.3/7.3.1/7.3.1.2) unpooled se (t-test)
    * [Link](https://www.statology.org/satterthwaite-approximation/) unpooled df (t-test)

In [138]:
def z_test(control, treatment, alpha, pooled, full_report, scope_note, target_mde, power):
    # convert series objects to NumPy arrays
    control = np.asarray(control)
    treatment = np.asarray(treatment)
    # summary stats
    control_mean = np.mean(control)
    control_std = np.std(control)
    control_size = len(control)
    treatment_mean = np.mean(treatment)
    treatment_std = np.std(treatment)
    treatment_size = len(treatment)
    combined_size = control_size + treatment_size
    combined_value = control_size * control_mean + treatment_size * treatment_mean
    p = combined_value / combined_size
    combined_mean = p
    combined_std = np.sqrt(((control_size - 1) * control_std**2 + (treatment_size - 1) * treatment_std**2 ) / (combined_size - 2))
    # sample_stat and theoretical proportion p2 based on MDE
    sample_stat = (treatment_mean - control_mean)
    relative_change = sample_stat / control_mean
    p2 = control_mean * (1 + relative_change)
    pb = control_mean * (1 + target_mde)
    # calculate se, cohen_d, ideal MDE-based combined sample size, actual MDE practical significance of cohen's d and test_stat
    if pooled:  
        se = np.sqrt(p * (1 - p) * (1 / control_size + 1 / treatment_size))
        cohen_d = sample_stat / np.sqrt(p * (1 - p))
        effect_size = proportion_effectsize(control_mean, p2)
        min_combined_sample_size = NormalIndPower().solve_power(effect_size=effect_size, alpha=alpha, power=power, ratio=1)
        theoretical_effect_size = proportion_effectsize(control_mean, pb)
        try_combined_sample_size = NormalIndPower().solve_power(effect_size=theoretical_effect_size, alpha=alpha, power=power, ratio=1)
    else:
        se = np.sqrt(control_mean*(1-control_mean)/control_size + treatment_mean*(1-treatment_mean)/treatment_size)
        cohen_d = sample_stat / np.sqrt((control_std**2 + treatment_std**2) / 2)
        effect_size = proportion_effectsize(control_mean, p2)
        n = NormalIndPower().solve_power(effect_size=effect_size, alpha=alpha, power=power)
        min_combined_sample_size = 2 * n
        theoretical_effect_size = proportion_effectsize(control_mean, pb)
        k = NormalIndPower().solve_power(effect_size=theoretical_effect_size, alpha=alpha, power=power)
        try_combined_sample_size = k * 2
    practical_significance = "large" if cohen_d >= 0.8 else 'medium'if cohen_d >= 0.5 else 'small' if cohen_d >= 0.2 else "little_effect"
    test_stat = sample_stat / se
    # perform one-tailed test
    p_value_1tail = stats.norm.sf(abs(test_stat))
    critical_value_1tail = stats.norm.ppf(1 - alpha)
    me_1tail = critical_value_1tail * se
    decision_1tail = "Reject_H0" if p_value_1tail <= alpha else "Fail_to_reject_H0"
    # perform two-tailed test
    p_value_2tail = stats.norm.sf(abs(test_stat)) * 2
    critical_value_2tail = stats.norm.ppf(1 - alpha/2)
    me_2tail = critical_value_2tail * se
    decision_2tail = "Reject_H0" if p_value_2tail <= alpha else "Fail_to_reject_H0"
    # report
    print("" + "Start".center(100, '*') + "")
    print(f"{'Pooled' if pooled else 'Unpooled'} Z-Test (difference in proportions): {scope_note} scope")
    # create table of descriptive statistics
    desc_head = ["Descriptive (group): ", "Sample size", "Total value", "Mean", "Standard deviation"]
    desc_stat = [["Control (A)", control_size, f"{np.sum(control):.5f}", f"{control_mean:.5f}", f"{control_std:.5f}"], 
                 ["Treatment (B)", treatment_size, f"{np.sum(treatment):.5f}", f"{treatment_mean:.5f}", f"{treatment_std:.5f}"],
                 ["Combined", combined_size, f"{combined_value:.5f}", f"{combined_mean:.5f}", f"{combined_std:.5f}"]]
    inf_head = ["Inferential (test): ", "Conclusion", "Significance level (α)", "Test statistic", "P-value", "Confidence interval", 
                "Cohen's d", "Practical significance", "Relative change", "Sample size req",
                "Target MDE%", "Equiv. sample size"]
    inf_stat = [["1-tailed", decision_1tail, alpha, f"{test_stat:.15f}", f"{p_value_1tail:.10f}", f"(>{(sample_stat - me_1tail):.5f} or <{(sample_stat + me_1tail):.5f})", 
                cohen_d, practical_significance, f"{relative_change:.5f}", f"{0.5*min_combined_sample_size:.0f}",
                target_mde, f"{0.5*try_combined_sample_size:.0f}"],
                ["2-tailed", decision_2tail, alpha, f"{test_stat:.15f}", f"{p_value_2tail:.10f}", f"({(sample_stat - me_2tail):.5f},{(sample_stat + me_2tail):.5f})",
                cohen_d, practical_significance, f"{relative_change:.5f}", f"{0.5*min_combined_sample_size:.0f}",
                target_mde, f"{0.5*try_combined_sample_size:.0f}"]]
    if full_report:
        print() 
        print(f"Null hypothesis (H0): There is no significant effect size difference between Control (A) and Treatment (B)")
        print(f"Alternative hypothesis (H1): There is significant effect size difference between Control (A) and Treatment (B)\n")
        print(f"Conclusion (1-tail): {decision_1tail}, since p-value ({p_value_1tail:.10f}) {'<=' if p_value_1tail <= alpha else '>'} significance level ({alpha})")
        print(f"Conclusion (2-tail): {decision_2tail}, since p-value ({p_value_2tail:.10f}) {'<=' if p_value_2tail <= alpha else '>'} significance level ({alpha})\n")
        print(tabulate(desc_stat, headers=desc_head))
        print()
        print(tabulate(inf_stat, headers=inf_head))
        print(f"{'Sufficient' if combined_size >=  min_combined_sample_size else 'Insufficient'} sample size for observed relative change, which requires combined sample size of {min_combined_sample_size:.0f}")
        print(f"Combined sample size of {try_combined_sample_size:.0f} required to detect a relative change as small as {target_mde} (at statistical power of {power}, significance level of {alpha})")
    # output for visualization
    headers = ["Scope","Test", "Conclusion", "α", "Z*/T*", "SE", "MOE", 
               "sample_stat", "test-stat", "p-value", 
               "CI", "Lower_limit", "Upper_limit", 
               "A_#", "B_#", "A_value", "B_value", 
               "A_x̄", "B_x̄", "A_σ", "B_σ", 
               "cohen_d", "practical_sig", 
               "relative_change", "min_req_sample_size", 
               "target_MDE", "MDE_equiv_sample_size"]
    data = [[scope_note, f"1-tail_z_test_{'pooled' if pooled else 'unpooled'}", decision_1tail, alpha, f"{critical_value_1tail:.6f}", f"{se:.5f}", f"{me_1tail:.5f}", 
            f"{sample_stat:.15f}", f"{test_stat:.15f}", f"{p_value_1tail:.10f}", 
            f"(>{(sample_stat - me_1tail):.5f}/<{(sample_stat + me_1tail):.5f})", f"{(sample_stat - me_1tail):.5f}", f"{(sample_stat + me_1tail):.5f}", 
            control_size, treatment_size, f"{np.sum(control):.5f}", f"{np.sum(treatment):.5f}",  
            f"{control_mean:.5f}", f"{treatment_mean:.5f}", f"{control_std:.5f}", f"{treatment_std:.5f}", 
            cohen_d, practical_significance, 
            f"{relative_change:.5f}", f"{0.5*min_combined_sample_size:.0f}", 
            target_mde, f"{0.5*try_combined_sample_size:.0f}"]
             ,
            [scope_note, f"2-tail_z_test_{'pooled' if pooled else 'unpooled'}", decision_2tail, alpha, f"{critical_value_2tail:.6f}", f"{se:.5f}", f"{me_2tail:.5f}", 
            f"{sample_stat:.15f}", f"{test_stat:.15f}", f"{p_value_2tail:.10f}", 
            f"({(sample_stat - me_2tail):.5f},{(sample_stat + me_2tail):.5f})", f"{(sample_stat - me_2tail):.5f}", f"{(sample_stat + me_2tail):.5f}", 
            control_size, treatment_size, f"{np.sum(control):.5f}", f"{np.sum(treatment):.5f}", 
            f"{control_mean:.5f}", f"{treatment_mean:.5f}", f"{control_std:.5f}", f"{treatment_std:.5f}", 
            cohen_d, practical_significance, 
            f"{relative_change:.5f}", f"{0.5*min_combined_sample_size:.0f}", 
            target_mde, f"{0.5*try_combined_sample_size:.0f}"]]
    print("\n""EXPORT FOR VISUALIZATION:")
    print(tabulate(data, headers=headers))
    print("" + "End".center(100, '*') + "\n")

In [139]:
def t_test(control, treatment, alpha, pooled, full_report, scope_note, target_mde, power):
 # convert series objects to NumPy arrays
    control = np.asarray(control)
    treatment = np.asarray(treatment)
    # summary stats
    control_mean = np.mean(control)
    control_std = np.std(control)
    control_size = len(control)
    treatment_mean = np.mean(treatment)
    treatment_std = np.std(treatment)
    treatment_size = len(treatment)
    combined_size = control_size + treatment_size
    combined_value = control_size * control_mean + treatment_size * treatment_mean
    combined_mean = combined_value / combined_size
    pooled_var = ((control_size - 1) * np.var(control) + (treatment_size - 1) * np.var(treatment)) / (combined_size - 2)
    combined_std = np.sqrt(pooled_var)
    # sample_stat and proforma theoretical np Array m2 based on relative MDE 
    sample_stat = (treatment_mean - control_mean)
    relative_change = sample_stat / control_mean
    m2 = control * (1 + relative_change)
    mb = control * (1 + target_mde)
    # calculate se, cohen_d, relative MDE-based combined sample size, practical significance of cohen's d and test_stat
    test_stat, p_value_2tail = ttest_ind(control, treatment, equal_var=pooled) 
    if pooled:
        se = np.sqrt(pooled_var * (1 / control_size + 1 / treatment_size))
        df = control_size + treatment_size - 2
        cohen_d = sample_stat / np.sqrt(pooled_var)
        effect_size = target_mde / np.sqrt((np.var(control) + np.var(m2)) / 2)
        min_combined_sample_size = TTestIndPower().solve_power(effect_size=effect_size, alpha=alpha, power=power, ratio=1)
        theoretical_effect_size = target_mde / np.sqrt((np.var(control) + np.var(mb)) / 2)
        try_combined_sample_size = TTestIndPower().solve_power(effect_size=theoretical_effect_size, alpha=alpha, power=power, ratio=1)
    else:
        se = np.sqrt(control_std**2/control_size + treatment_std**2/treatment_size)
        df = (control_std**2/control_size + treatment_std**2/treatment_size)**2 / ((control_std**2/control_size)**2/(control_size-1) + (treatment_std**2/treatment_size)**2/(treatment_size-1))
        cohen_d = sample_stat / np.sqrt((control_std**2 + treatment_std**2) / 2)
        effect_size = relative_change / np.sqrt((np.var(control) / control_size) + (np.var(m2) / control_size))
        n = TTestIndPower().solve_power(effect_size=effect_size, alpha=alpha, power=power)
        min_combined_sample_size = 2 * n
        theoretical_effect_size = target_mde / np.sqrt((np.var(control) / control_size) + (np.var(mb) / control_size))
        k = TTestIndPower().solve_power(effect_size=theoretical_effect_size, alpha=alpha, power=power)
        try_combined_sample_size = k * 2
    practical_significance = "large" if cohen_d >= 0.8 else 'medium'if cohen_d >= 0.5 else 'small' if cohen_d >= 0.2 else "little_effect"
    # perform one-tailed test
    p_value_1tail = stats.t.sf(abs(test_stat), df)
    critical_value_1tail = stats.t.ppf(1 - alpha, df)
    me_1tail = critical_value_1tail * se
    decision_1tail = "Reject_H0" if p_value_1tail < alpha else "Fail_to_reject_H0"
    # perform two-tailed test
    critical_value_2tail = stats.t.ppf(1 - alpha/2, df)
    me_2tail = critical_value_2tail * se
    decision_2tail = "Reject_H0" if p_value_2tail < alpha else "Fail_to_reject_H0"
    # report 
    print("" + "Start".center(100, '*') + "")
    print(f"{'Pooled' if pooled else 'Unpooled'} T-Test (differences in means): {scope_note} scope")
    # create table of descriptive statistics
    desc_head = ["Descriptive (group): ", "Sample size", "Total value", "Mean", "Standard deviation"]
    desc_stat = [["Control (A)", control_size, f"{np.sum(control):.5f}", f"{control_mean:.5f}", f"{control_std:.5f}"], 
                 ["Treatment (B)", treatment_size, f"{np.sum(treatment):.5f}", f"{treatment_mean:.5f}", f"{treatment_std:.5f}"],
                 ["Combined", combined_size, f"{combined_value:.5f}", f"{combined_mean:.5f}", f"{combined_std:.5f}"]]
    inf_head = ["Inferential (test): ", "Conclusion", "Significance level (α)", "Test statistic", "P-value", "Confidence interval", 
                "Cohen's d", "Practical significance", "Relative change", "Sample size req",
                "Target MDE%", "Equiv. sample size"]
    inf_stat = [["1-tailed", decision_1tail, alpha, f"{test_stat:.15f}", f"{p_value_1tail:.10f}", f"(>{(sample_stat - me_1tail):.5f} or <{(sample_stat + me_1tail):.5f})", 
                cohen_d, practical_significance, f"{relative_change:.5f}", f"{0.5*min_combined_sample_size:.0f}",
                target_mde, f"{0.5*try_combined_sample_size:.0f}"],
                ["2-tailed", decision_2tail, alpha, f"{test_stat:.15f}", f"{p_value_2tail:.10f}", f"({(sample_stat - me_2tail):.5f},{(sample_stat + me_2tail):.5f})", 
                cohen_d, practical_significance, f"{relative_change:.5f}", f"{0.5*min_combined_sample_size:.0f}",
                target_mde, f"{0.5*try_combined_sample_size:.0f}"]]
    if full_report:
        print() 
        print(f"Null hypothesis (H0): There is no significant effect size difference between Control (A) and Treatment (B)")
        print(f"Alternative hypothesis (H1): There is significant effect size difference between Control (A) and Treatment (B)\n")
        print(f"Conclusion (1-tail): {decision_1tail}, since p-value ({p_value_1tail:.10f}) {'<=' if p_value_1tail <= alpha else '>'} significance level ({alpha})")
        print(f"Conclusion (2-tail): {decision_2tail}, since p-value ({p_value_2tail:.10f}) {'<=' if p_value_2tail <= alpha else '>'} significance level ({alpha})\n")
        print(tabulate(desc_stat, headers=desc_head))
        print()
        print(tabulate(inf_stat, headers=inf_head))
        print(f"{'Sufficient' if combined_size >=  min_combined_sample_size else 'Insufficient'} sample size for observed relative change, which requires combined sample size of {min_combined_sample_size:.0f}")
        print(f"Combined sample size of {try_combined_sample_size:.0f} required to detect a relative change as small as {target_mde} (at statistical power of {power}, significance level of {alpha})")
    # output for visualization
    headers = ["Scope","Test", "Conclusion", "α", "Z*/T*", "SE", "MOE", 
               "sample_stat", "test-stat", "p-value", 
               "CI", "Lower_limit", "Upper_limit", 
               "A_#", "B_#", "A_value", "B_value", 
               "A_x̄", "B_x̄", "A_σ", "B_σ", 
               "cohen_d", "practical_sig",
               "relative_change", "min_req_sample_size",  
                "target_MDE", "MDE_equiv_sample_size"]
    data = [[scope_note, f"1-tail_t_test_{'pooled' if pooled else 'unpooled'}", decision_1tail, alpha, f"{critical_value_1tail:.6f}", f"{se:.5f}", f"{me_1tail:.5f}", 
            f"{sample_stat:.15f}", f"{test_stat:.15f}", f"{p_value_1tail:.10f}", 
            f"(>{(sample_stat - me_1tail):.5f}/<{(sample_stat + me_1tail):.5f})", f"{(sample_stat - me_1tail):.5f}", f"{(sample_stat + me_1tail):.5f}", 
            control_size, treatment_size, f"{np.sum(control):.5f}", f"{np.sum(treatment):.5f}",  
            f"{control_mean:.5f}", f"{treatment_mean:.5f}", f"{control_std:.5f}", f"{treatment_std:.5f}", 
            cohen_d, practical_significance, 
            f"{relative_change:.5f}", f"{0.5*min_combined_sample_size:.0f}", 
            target_mde, f"{0.5*try_combined_sample_size:.0f}"]
             ,
            [scope_note, f"2-tail_t_test_{'pooled' if pooled else 'unpooled'}", decision_2tail, alpha, f"{critical_value_2tail:.6f}", f"{se:.5f}", f"{me_2tail:.5f}", 
            f"{sample_stat:.15f}", f"{test_stat:.15f}", f"{p_value_2tail:.10f}", 
            f"({(sample_stat - me_2tail):.5f},{(sample_stat + me_2tail):.5f})", f"{(sample_stat - me_2tail):.5f}", f"{(sample_stat + me_2tail):.5f}", 
            control_size, treatment_size, f"{np.sum(control):.5f}", f"{np.sum(treatment):.5f}", 
            f"{control_mean:.5f}", f"{treatment_mean:.5f}", f"{control_std:.5f}", f"{treatment_std:.5f}", 
            cohen_d, practical_significance, 
            f"{relative_change:.5f}", f"{0.5*min_combined_sample_size:.0f}", 
            target_mde, f"{0.5*try_combined_sample_size:.0f}"]]
    print("\n""EXPORT FOR VISUALIZATION:")
    print(tabulate(data, headers=headers))
    print("" + "End".center(100, '*') + "\n")

### Power analysis (resources)
* [Estimate sample size at given power, or power at given sample size](https://www.stat.ubc.ca/~rollin/stats/ssize/b2.html)
* [Estimate sample size for independent proportions effect size z-test at required MDE](https://www.statsig.com/calculator) 
* [Estimate sample size for independent means  effect size t-test at required MDE](https://statulator.com/SampleSize/ss2M.html#)

### Data packing & results

* General

In [164]:
# conversion rate between the two groups
conv_a = df_ab[df_ab['test_group'] == "A: control"].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b = df_ab[df_ab['test_group'] == "B: treatment"].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a = df_ab[df_ab['test_group'] == "A: control"].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b = df_ab[df_ab['test_group'] == "B: treatment"].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a, conv_b, 0.05, False, True, 'overall', 0.129, 0.80)
t_test(spend_a, spend_b, 0.05, False, True, 'overall', 0.129, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): overall scope

Null hypothesis (H0): There is no significant effect size difference between Control (A) and Treatment (B)
Alternative hypothesis (H1): There is significant effect size difference between Control (A) and Treatment (B)

Conclusion (1-tail): Reject_H0, since p-value (0.0000552077) <= significance level (0.05)
Conclusion (2-tail): Reject_H0, since p-value (0.0001104154) <= significance level (0.05)

Descriptive (group):       Sample size    Total value     Mean    Standard deviation
-----------------------  -------------  -------------  -------  --------------------
Control (A)                      24343            955  0.03923               0.19414
Treatment (B)                    24600           1139  0.0463                0.21014
Combined                         48943           2094  0.04278               0.20234

Inferential (test):     Conclusion      Significance level (α)    Test statistic      P-value  Confidence interval       Cohen's d  Practical significance      Relative change    Sample size req    Target MDE%    Equiv. sample size
----------------------  ------------  ------------------------  ----------------  -----------  ----------------------  -----------  ------------------------  -----------------  -----------------  -------------  --------------------
1-tailed                Reject_H0                         0.05           3.86648  5.52077e-05  (>0.00406 or <0.01008)    0.0349476  little_effect                       0.18021              12835          0.129                 24505
2-tailed                Reject_H0                         0.05           3.86648  0.000110415  (0.00349,0.01065)         0.0349476  little_effect                       0.18021              12835          0.129                 24505
Sufficient sample size for observed relative change, which requires combined sample size of 25671
Combined sample size of 49010 required to detect a relative change as small as 0.129 (at statistical power of 0.8, significance level of 0.05)

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion       α    Z*/T*       SE      MOE    sample_stat    test-stat      p-value  CI                     Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄     B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  ------------  ----  -------  -------  -------  -------------  -----------  -----------  -------------------  -------------  -------------  -----  -----  ---------  ---------  -------  ------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
overall  1-tail_z_test_unpooled  Reject_H0     0.05  1.64485  0.00183  0.00301     0.00706982      3.86648  5.52077e-05  (>0.00406/<0.01008)        0.00406        0.01008  24343  24600        955       1139  0.03923  0.0463  0.19414  0.21014  0.0349476  little_effect              0.18021                  12835         0.129                    24505
overall  2-tail_z_test_unpooled  Reject_H0     0.05  1.95996  0.00183  0.00358     0.00706982      3.86648  0.000110415  (0.00349,0.01065)          0.00349        0.01065  24343  24600        955       1139  0.03923  0.0463  0.19414  0.21014  0.0349476  little_effect              0.18021                  12835         0.129                    24505
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): overall scope

Null hypothesis (H0): There is no significant effect size difference between Control (A) and Treatment (B)
Alternative hypothesis (H1): There is significant effect size difference between Control (A) and Treatment (B)

Conclusion (1-tail): Fail_to_reject_H0, since p-value (0.4719278766) > significance level (0.05)
Conclusion (2-tail): Fail_to_reject_H0, since p-value (0.9438557532) > significance level (0.05)

Descriptive (group):       Sample size    Total value     Mean    Standard deviation
-----------------------  -------------  -------------  -------  --------------------
Control (A)                      24343        82145.9  3.37452               25.9359
Treatment (B)                    24600        83415.3  3.39087               25.4136
Combined                         48943       165561    3.38274               25.6747

Inferential (test):     Conclusion           Significance level (α)    Test statistic    P-value  Confidence interval        Cohen's d  Practical significance      Relative change    Sample size req    Target MDE%    Equiv. sample size
----------------------  -----------------  ------------------------  ----------------  ---------  -----------------------  -----------  ------------------------  -----------------  -----------------  -------------  --------------------
1-tailed                Fail_to_reject_H0                      0.05        -0.0704249   0.471928  (>-0.36549 or <0.39819)  0.000636721  little_effect                       0.00484              37143          0.129                    60
2-tailed                Fail_to_reject_H0                      0.05        -0.0704249   0.943856  (-0.43864,0.47134)       0.000636721  little_effect                       0.00484              37143          0.129                    60
Insufficient sample size for observed relative change, which requires combined sample size of 74286
Combined sample size of 121 required to detect a relative change as small as 0.129 (at statistical power of 0.8, significance level of 0.05)

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ      cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  -----------  ---------------  -----------------  ---------------------  ------------  -----------------------
overall  1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64488  0.23214  0.38184      0.0163485   -0.0704249   0.471928  (>-0.36549/<0.39819)       -0.36549        0.39819  24343  24600    82145.9    83415.3  3.37452  3.39087  25.9359  25.4136  0.000636721  little_effect              0.00484                  37143         0.129                       60
overall  2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96001  0.23214  0.45499      0.0163485   -0.0704249   0.943856  (-0.43864,0.47134)         -0.43864        0.47134  24343  24600    82145.9    83415.3  3.37452  3.39087  25.9359  25.4136  0.000636721  little_effect              0.00484                  37143         0.129                       60
************************************************End*************************************************

* max200

In [141]:
# conversion rate between the two groups
conv_a_max200 = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['spend_USD_200_plus'] == 'N')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_max200 = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['spend_USD_200_plus'] == 'N')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_max200 = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['spend_USD_200_plus'] == 'N')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_max200 = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['spend_USD_200_plus'] == 'N')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_max200, conv_b_max200, 0.05, False, False, '$200_or_less', 0.15, 0.80)
t_test(spend_a_max200, spend_b_max200, 0.05, False, False, '$200_or_less', 0.15, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): $200_or_less scope

EXPORT FOR VISUALIZATION:
Scope         Test                    Conclusion       α    Z*/T*      SE      MOE    sample_stat    test-stat      p-value  CI                     Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
------------  ----------------------  ------------  ----  -------  ------  -------  -------------  -----------  -----------  -------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
$200_or_less  1-tail_z_test_unpooled  Reject_H0     0.05  1.64485  0.0018  0.00296     0.00717283      3.98166  3.42185e-05  (>0.00421/<0.01014)        0.00421        0.01014  24307  24566        919       1105  0.03781  0.04498  0.19073  0.20726  0.0360139  little_effect              0.18972                  12085          0.15                    19008
$200_or_less  2-tail_z_test_unpooled  Reject_H0     0.05  1.95996  0.0018  0.00353     0.00717283      3.98166  6.84369e-05  (0.00364,0.01070)          0.00364        0.0107   24307  24566        919       1105  0.03781  0.04498  0.19073  0.20726  0.0360139  little_effect              0.18972                  12085          0.15                    19008
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): $200_or_less scope

EXPORT FOR VISUALIZATION:
Scope         Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ     cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
------------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ----------  ---------------  -----------------  ---------------------  ------------  -----------------------
$200_or_less  1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64488  0.14228  0.23403      0.0244197    -0.171631   0.431864  (>-0.20961/<0.25845)       -0.20961        0.25845  24307  24566    66959.7    68273.1  2.75475  2.77917  16.2152  15.2167  0.00155303  little_effect              0.00886                   4361          0.15                       19
$200_or_less  2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96001  0.14228  0.27886      0.0244197    -0.171631   0.863728  (-0.25445,0.30328)         -0.25445        0.30328  24307  24566    66959.7    68273.1  2.75475  2.77917  16.2152  15.2167  0.00155303  little_effect              0.00886                   4361          0.15                       19
************************************************End*************************************************

* filter
    * Y: CASE WHEN spend_amt <= 200 AND gender IN ('M', 'F') AND device IN ('I', 'A') AND country_name NOT IN ('unknown') THEN 'Y'ELSE 'N' END truncate_set

In [142]:
# conversion rate between the two groups
conv_a_filter = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['truncate_set'] == 'Y')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_filter = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['truncate_set'] == 'Y')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_filter = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['truncate_set'] == 'Y')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_filter = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['truncate_set'] == 'Y')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_filter, conv_b_filter, 0.05, False, False, 'filter', 0.15, 0.80)
t_test(spend_a_filter, spend_b_filter, 0.05, False, False, 'filter', 0.15, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): filter scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion       α    Z*/T*     SE      MOE    sample_stat    test-stat      p-value  CI                     Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  ------------  ----  -------  -----  -------  -------------  -----------  -----------  -------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
filter   1-tail_z_test_unpooled  Reject_H0     0.05  1.64485  0.002  0.00328     0.00761273       3.8135  6.85056e-05  (>0.00433/<0.01090)        0.00433        0.0109   19730  19859        737        893  0.03735  0.04497  0.18963  0.20723  0.0383271  little_effect               0.2038                  10668          0.15                    19249
filter   2-tail_z_test_unpooled  Reject_H0     0.05  1.95996  0.002  0.00391     0.00761273       3.8135  0.000137011  (0.00370,0.01153)          0.0037         0.01153  19730  19859        737        893  0.03735  0.04497  0.18963  0.20723  0.0383271  little_effect               0.2038                  10668          0.15                    19249
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): filter scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ     B_σ       cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  ------  ------------  ---------------  -----------------  ---------------------  ------------  -----------------------
filter   1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64489  0.15647  0.25737    -0.00472298    0.0301841    0.48796  (>-0.26210/<0.25265)       -0.2621         0.25265  19730  19859    53970.1    54229.2  2.73543  2.73071  16.1441  14.962  -0.000303451  little_effect             -0.00173                 138880          0.15                       22
filter   2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96002  0.15647  0.30668    -0.00472298    0.0301841    0.97592  (-0.31141,0.30196)         -0.31141        0.30196  19730  19859    53970.1    54229.2  2.73543  2.73071  16.1441  14.962  -0.000303451  little_effect             -0.00173                 138880          0.15                       22
************************************************End*************************************************

* exclude
    * N: CASE WHEN spend_amt <= 200 AND gender IN ('M', 'F') AND device IN ('I', 'A') AND country_name NOT IN ('unknown') THEN 'Y'ELSE 'N' END truncate_set

In [143]:
# conversion rate between the two groups
conv_a_exclude = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['truncate_set'] == 'N')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_exclude = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['truncate_set'] == 'N')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_exclude = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['truncate_set'] == 'N')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_exclude = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['truncate_set'] == 'N')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_exclude, conv_b_exclude, 0.05, False, False, 'exclude', 0.15, 0.80)
t_test(spend_a_exclude, spend_b_exclude, 0.05, False, False, 'exclude', 0.15, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): exclude scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ     B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  ------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
exclude  1-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.64485  0.00449  0.00738     0.00463004      1.03178   0.151087  (>-0.00275/<0.01201)       -0.00275        0.01201   4613   4741        218        246  0.04726  0.05189  0.21219  0.2218  0.0213318  little_effect              0.09797                  34483          0.15                    15046
exclude  2-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.95996  0.00449  0.0088      0.00463004      1.03178   0.302174  (-0.00417,0.01343)         -0.00417        0.01343   4613   4741        218        246  0.04726  0.05189  0.21219  0.2218  0.0213318  little_effect              0.09797                  34483          0.15                    15046
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): exclude scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄     A_σ      B_σ      cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  ------  -------  -----------  ---------------  -----------------  ---------------------  ------------  -----------------------
exclude  1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64502  1.01633  1.67187      0.0482038   -0.0474244   0.481088  (>-1.62367/<1.72008)       -1.62367        1.72008   4613   4741    28175.8    29186.1  6.10791  6.15611  49.252  49.0306  0.000980921  little_effect              0.00789                 267166          0.15                      853
exclude  2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96022  1.01633  1.99222      0.0482038   -0.0474244   0.962176  (-1.94402,2.04042)         -1.94402        2.04042   4613   4741    28175.8    29186.1  6.10791  6.15611  49.252  49.0306  0.000980921  little_effect              0.00789                 267166          0.15                      853
************************************************End*************************************************

* USA

In [144]:
# conversion rate between the two groups
conv_a_USA = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name'] == 'USA')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_USA = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name'] == 'USA')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_USA = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name'] == 'USA')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_USA = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name'] == 'USA')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_USA, conv_b_USA, 0.05, False, False, 'USA', 0.15, 0.80)
t_test(spend_a_USA, spend_b_USA, 0.05, False, False, 'USA', 0.15, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): USA scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                     Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  -------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
USA      1-tail_z_test_unpooled  Reject_H0          0.05  1.64485  0.00373  0.00613      0.0063138      1.69335  0.0451949  (>0.00018/<0.01245)        0.00018        0.01245   7309   7463        374        429  0.05117  0.05748  0.22034  0.23276  0.0278584  little_effect              0.12339                  20214          0.15                    13835
USA      2-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.95996  0.00373  0.00731      0.0063138      1.69335  0.0903898  (-0.00099,0.01362)        -0.00099        0.01362   7309   7463        374        429  0.05117  0.05748  0.22034  0.23276  0.0278584  little_effect              0.12339                  20214          0.15                    13835
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): USA scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ      cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  -----------  ---------------  -----------------  ---------------------  ------------  -----------------------
USA      1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64496  0.42995  0.70725      -0.241911      0.56261   0.286855  (>-0.94916/<0.46534)       -0.94916        0.46534   7309   7463    31394.8    30250.9  4.29536  4.05345  28.0983  23.9467  -0.00926679  little_effect             -0.05632                   1012          0.15                      176
USA      2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96013  0.42995  0.84276      -0.241911      0.56261   0.57371   (-1.08467,0.60085)         -1.08467        0.60085   7309   7463    31394.8    30250.9  4.29536  4.05345  28.0983  23.9467  -0.00926679  little_effect             -0.05632                   1012          0.15                      176
************************************************End*************************************************

* non_USA

In [145]:
# conversion rate between the two groups
conv_a_nonUSA = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name'] != 'USA')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_nonUSA = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name'] != 'USA')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_nonUSA = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name'] != 'USA')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_nonUSA = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name'] != 'USA')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_nonUSA, conv_b_nonUSA, 0.05, False, False, 'Non_USA', 0.15, 0.80)
t_test(spend_a_nonUSA, spend_b_nonUSA, 0.05, False, False, 'Non_USA', 0.15, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): Non_USA scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion       α    Z*/T*       SE      MOE    sample_stat    test-stat      p-value  CI                     Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  ------------  ----  -------  -------  -------  -------------  -----------  -----------  -------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
Non_USA  1-tail_z_test_unpooled  Reject_H0     0.05  1.64485  0.00206  0.00339     0.00732257      3.55133  0.000191645  (>0.00393/<0.01071)        0.00393        0.01071  17034  17137        581        710  0.03411  0.04143  0.18151  0.19928  0.0384179  little_effect              0.21469                  10615          0.15                    21157
Non_USA  2-tail_z_test_unpooled  Reject_H0     0.05  1.95996  0.00206  0.00404     0.00732257      3.55133  0.00038329   (0.00328,0.01136)          0.00328        0.01136  17034  17137        581        710  0.03411  0.04143  0.18151  0.19928  0.0384179  little_effect              0.21469                  10615          0.15                    21157
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): Non_USA scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value     A_x̄      B_x̄      A_σ      B_σ     cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  ------  -------  -------  -------  ----------  ---------------  -----------------  ---------------------  ------------  -----------------------
Non_USA  1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.6449   0.27573  0.45355       0.122918    -0.445777   0.327881  (>-0.33063/<0.57647)       -0.33063        0.57647  17034  17137    50751.1    53164.4  2.9794  3.10232  24.9402  26.0213  0.00482287  little_effect              0.04126                    703          0.15                       60
Non_USA  2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96003  0.27573  0.54044       0.122918    -0.445777   0.655761  (-0.41752,0.66336)         -0.41752        0.66336  17034  17137    50751.1    53164.4  2.9794  3.10232  24.9402  26.0213  0.00482287  little_effect              0.04126                    703          0.15                       60
************************************************End*************************************************

* mexico

In [146]:
# conversion rate between the two groups
conv_a_mex = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=='Mexico')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_mex = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=='Mexico')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_mex = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=='Mexico')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_mex = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=='Mexico')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_mex, conv_b_mex, 0.05, False, False, 'mexico', 0.15, 0.80)
t_test(spend_a_mex, spend_b_mex, 0.05, False, False, 'mexico', 0.15, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): mexico scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion       α    Z*/T*       SE      MOE    sample_stat    test-stat     p-value  CI                     Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  ------------  ----  -------  -------  -------  -------------  -----------  ----------  -------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
mexico   1-tail_z_test_unpooled  Reject_H0     0.05  1.64485  0.00497  0.00818        0.01499      3.01589  0.00128114  (>0.00681/<0.02317)        0.00681        0.02317   2815   2923         83        130  0.02948  0.04447  0.16916  0.20615  0.0794955  little_effect              0.50839                   2463          0.15                    24601
mexico   2-tail_z_test_unpooled  Reject_H0     0.05  1.95996  0.00497  0.00974        0.01499      3.01589  0.00256228  (0.00525,0.02473)          0.00525        0.02473   2815   2923         83        130  0.02948  0.04447  0.16916  0.20615  0.0794955  little_effect              0.50839                   2463          0.15                    24601
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): mexico scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
mexico   1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64512  0.62889  1.0346         0.53356    -0.848268   0.198162  (>-0.50104/<1.56816)       -0.50104        1.56816   2815   2923    7915.63    9778.91  2.81195  3.34551  23.7792  23.8518  0.0224039  little_effect              0.18975                    213          0.15                      326
mexico   2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96038  0.62889  1.23286        0.53356    -0.848268   0.396324  (-0.69930,1.76642)         -0.6993         1.76642   2815   2923    7915.63    9778.91  2.81195  3.34551  23.7792  23.8518  0.0224039  little_effect              0.18975                    213          0.15                      326
************************************************End*************************************************

* germany

In [147]:
# conversion rate between the two groups
conv_a_ger = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=='Germany')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_ger = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=='Germany')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_ger = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=='Germany')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_ger = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=='Germany')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_ger, conv_b_ger, 0.05, False, False, 'germany', 0.15, 0.80)
t_test(spend_a_ger, spend_b_ger, 0.05, False, False, 'germany', 0.15, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): germany scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion       α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                     Lower_limit    Upper_limit    A_#    B_#    A_value    B_value    A_x̄      B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  ------------  ----  -------  -------  -------  -------------  -----------  ---------  -------------------  -------------  -------------  -----  -----  ---------  ---------  -----  -------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
germany  1-tail_z_test_unpooled  Reject_H0     0.05  1.64485  0.00616  0.01013      0.0121436      1.97213  0.0242976  (>0.00202/<0.02227)        0.00202        0.02227   1906   1948         61         86  0.032  0.04415  0.17601  0.20542  0.0634851  little_effect              0.37944                   3874          0.15                    22601
germany  2-tail_z_test_unpooled  Reject_H0     0.05  1.95996  0.00616  0.01207      0.0121436      1.97213  0.0485951  (0.00007,0.02421)          7e-05          0.02421   1906   1948         61         86  0.032  0.04415  0.17601  0.20542  0.0634851  little_effect              0.37944                   3874          0.15                    22601
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): germany scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ     cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ----------  ---------------  -----------------  ---------------------  ------------  -----------------------
germany  1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64548  1.02227  1.68213      -0.692503      0.67724   0.249159  (>-2.37463/<0.98962)       -2.37463        0.98962   1906   1948    6481.52    5275.35  3.40059  2.70809  41.8222  15.7509  -0.0219143  little_effect             -0.20364                    569          0.15                     1488
germany  2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96094  1.02227  2.00461      -0.692503      0.67724   0.498318  (-2.69712,1.31211)         -2.69712        1.31211   1906   1948    6481.52    5275.35  3.40059  2.70809  41.8222  15.7509  -0.0219143  little_effect             -0.20364                    569          0.15                     1488
************************************************End*************************************************

* brazil

In [148]:
# conversion rate between the two groups
conv_a_bra = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=='Brazil')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_bra = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=='Brazil')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_bra = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=='Brazil')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_bra = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=='Brazil')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_bra, conv_b_bra, 0.05, False, False, 'brazil', 0.10, 0.80)
t_test(spend_a_bra, spend_b_bra, 0.05, False, False, 'brazil', 0.10, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): brazil scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
brazil   1-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.64485  0.00399  0.00656     0.00336066     0.843294   0.199532  (>-0.00319/<0.00992)       -0.00319        0.00992   4805   4629        179        188  0.03725  0.04061  0.18938  0.19739  0.0173742  little_effect              0.09021                  51983           0.1                    42491
brazil   2-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.95996  0.00399  0.00781     0.00336066     0.843294   0.399064  (-0.00445,0.01117)         -0.00445        0.01117   4805   4629        179        188  0.03725  0.04061  0.18938  0.19739  0.0173742  little_effect              0.09021                  51983           0.1                    42491
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): brazil scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ      cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  -----------  ---------------  -----------------  ---------------------  ------------  -----------------------
brazil   1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64503  0.55982  0.92092      -0.147816     0.264012   0.395888  (>-1.06874/<0.77311)       -1.06874        0.77311   4805   4629    15442.9    14193.1  3.21393  3.06612  23.9928  29.9361  -0.00544889  little_effect             -0.04599                   1699           0.1                      417
brazil   2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96023  0.55982  1.09738      -0.147816     0.264012   0.791777  (-1.24520,0.94957)         -1.2452         0.94957   4805   4629    15442.9    14193.1  3.21393  3.06612  23.9928  29.9361  -0.00544889  little_effect             -0.04599                   1699           0.1                      417
************************************************End*************************************************

* canada

In [149]:
# conversion rate between the two groups
conv_a_can = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=='Canada')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_can = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=='Canada')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_can = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=='Canada')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_can = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=='Canada')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_can, conv_b_can, 0.05, False, False, 'canada', 0.10, 0.80)
t_test(spend_a_can, spend_b_can, 0.05, False, False, 'canada', 0.10, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): canada scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄     A_σ     B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  ------  ------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
canada   1-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.64485  0.01156  0.01902       0.017821      1.54098  0.0616612  (>-0.00120/<0.03684)       -0.0012         0.03684    767    803         36         52  0.04694  0.06476  0.2115  0.2461  0.0776677  little_effect              0.37969                   2590           0.1                    33368
canada   2-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.95996  0.01156  0.02267       0.017821      1.54098  0.123322   (-0.00485,0.04049)         -0.00485        0.04049    767    803         36         52  0.04694  0.06476  0.2115  0.2461  0.0776677  little_effect              0.37969                   2590           0.1                    33368
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): canada scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*      SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value     A_x̄      B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  ------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  ------  -------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
canada   1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64583  0.9646  1.58756       0.596664    -0.618168   0.268277  (>-0.99090/<2.18423)       -0.9909         2.18423    767    803    2762.66    3371.45  3.6019  4.19857  19.3359  18.8607  0.0312393  little_effect              0.16565                    659           0.1                     1692
canada   2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96149  0.9646  1.89204       0.596664    -0.618168   0.536555  (-1.29538,2.48871)         -1.29538        2.48871    767    803    2762.66    3371.45  3.6019  4.19857  19.3359  18.8607  0.0312393  little_effect              0.16565                    659           0.1                     1692
************************************************End*************************************************

* australia

In [150]:
# conversion rate between the two groups
conv_a_aus = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=='Australia')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_aus = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=='Australia')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_aus = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=='Australia')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_aus = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=='Australia')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_aus, conv_b_aus, 0.05, False, False, 'australia', 0.10, 0.80)
t_test(spend_a_aus, spend_b_aus, 0.05, False, False, 'australia', 0.10, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): australia scope

EXPORT FOR VISUALIZATION:
Scope      Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
---------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
australia  1-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.64485  0.00933  0.01534     0.00897556     0.962399   0.167925  (>-0.00636/<0.02432)       -0.00636        0.02432    608    560         13         17  0.02138  0.03036  0.14465  0.17157  0.0565632  little_effect              0.41978                   4874           0.1                    75315
australia  2-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.95996  0.00933  0.01828     0.00897556     0.962399   0.335849  (-0.00930,0.02725)         -0.0093         0.02725    608    560         13         17  0.02138  0.03036  0.14465  0.17157  0.0565632  little_effect              0.41978                   4874           0.1                    75315
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): australia scope

EXPORT FOR VISUALIZATION:
Scope      Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
---------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
australia  1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64621  0.79269  1.30494       0.412237    -0.519597   0.301723  (>-0.89270/<1.71718)       -0.8927         1.71718    608    560    1014.38    1165.15  1.66839  2.08063  12.7042  14.2558  0.0305309  little_effect              0.24709                    175           0.1                      922
australia  2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96208  0.79269  1.55532       0.412237    -0.519597   0.603447  (-1.14309,1.96756)         -1.14309        1.96756    608    560    1014.38    1165.15  1.66839  2.08063  12.7042  14.2558  0.0305309  little_effect              0.24709                    175           0.1                      922
************************************************End*************************************************

* france

In [151]:
# conversion rate between the two groups
conv_a_fra = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=='France')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_fra = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=='France')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_fra = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=='France')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_fra = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=='France')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_fra, conv_b_fra, 0.05, False, False, 'france', 0.10, 0.80)
t_test(spend_a_fra, spend_b_fra, 0.05, False, False, 'france', 0.10, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): france scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
france   1-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.64485  0.00675  0.0111       0.0105775      1.56813  0.0584256  (>-0.00052/<0.02167)       -0.00052        0.02167   1536   1554         48         65  0.03125  0.04183  0.17399  0.20019  0.0563979  little_effect              0.33848                   4914           0.1                    50985
france   2-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.95996  0.00675  0.01322      0.0105775      1.56813  0.116851   (-0.00264,0.02380)         -0.00264        0.0238    1536   1554         48         65  0.03125  0.04183  0.17399  0.20019  0.0563979  little_effect              0.33848                   4914           0.1                    50985
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): france scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄     B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  ------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
france   1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64541  0.56754  0.93383      -0.409772     0.721787   0.235244  (>-1.34360/<0.52406)       -1.3436         0.52406   1536   1554    4113.21    3524.63  2.67787  2.2681  18.3424  12.6551  -0.026005  little_effect             -0.15302                    253           0.1                      761
france   2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96084  0.56754  1.11284      -0.409772     0.721787   0.470487  (-1.52262,0.70307)         -1.52262        0.70307   1536   1554    4113.21    3524.63  2.67787  2.2681  18.3424  12.6551  -0.026005  little_effect             -0.15302                    253           0.1                      761
************************************************End*************************************************

* spain

In [152]:
# conversion rate between the two groups
conv_a_esp = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=='Spain')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_esp = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=='Spain')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_esp = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=='Spain')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_esp = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=='Spain')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_esp, conv_b_esp, 0.05, False, False, 'spain', 0.10, 0.80)
t_test(spend_a_esp, spend_b_fra, 0.05, False, False, 'spain', 0.10, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): spain scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
spain    1-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.64485  0.00796  0.01309     0.00705732     0.886999   0.18754   (>-0.00603/<0.02014)       -0.00603        0.02014    997    996         29         36  0.02909  0.03614  0.16805  0.18665  0.0397385  little_effect              0.24263                   9916           0.1                    54905
spain    2-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.95996  0.00796  0.01559     0.00705732     0.886999   0.375079  (-0.00854,0.02265)         -0.00854        0.02265    997    996         29         36  0.02909  0.03614  0.16805  0.18665  0.0397385  little_effect              0.24263                   9916           0.1                    54905
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): spain scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value     A_x̄     B_x̄      A_σ      B_σ     cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  ------  ------  -------  -------  ----------  ---------------  -----------------  ---------------------  ------------  -----------------------
spain    1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64565  0.55916  0.92018      0.0897061     -0.16036   0.436307  (>-0.83047/<1.00988)       -0.83047        1.00988    997   1554    2171.86    3524.63  2.1784  2.2681  14.4558  12.6551  0.00660317  little_effect              0.04118                   4045           0.1                      728
spain    2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.9612   0.55916  1.09662      0.0897061     -0.16036   0.872614  (-1.00691,1.18633)         -1.00691        1.18633    997   1554    2171.86    3524.63  2.1784  2.2681  14.4558  12.6551  0.00660317  little_effect              0.04118                   4045           0.1                      728
************************************************End*************************************************

* turkiye

In [153]:
# conversion rate between the two groups
conv_a_tur = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=='Turkiye')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_tur = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=='Turkiye')].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_tur = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=='Turkiye')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_tur = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=='Turkiye')].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_tur, conv_b_tur, 0.05, False, False, 'turkiye', 0.10, 0.80)
t_test(spend_a_tur, spend_b_tur, 0.05, False, False, 'turkiye', 0.10, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): turkiye scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ     cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ----------  ---------------  -----------------  ---------------------  ------------  -----------------------
turkiye  1-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.64485  0.00625  0.01027    -0.00444011    -0.710964   0.238553  (>-0.01471/<0.00583)       -0.01471        0.00583   1849   1883         74         67  0.04002  0.03558  0.19601  0.18524  -0.0232829  little_effect             -0.11094                  28937           0.1                    39432
turkiye  2-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.95996  0.00625  0.01224    -0.00444011    -0.710964   0.477107  (-0.01668,0.00780)         -0.01668        0.0078    1849   1883         74         67  0.04002  0.03558  0.19601  0.18524  -0.0232829  little_effect             -0.11094                  28937           0.1                    39432
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): turkiye scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ     cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ----------  ---------------  -----------------  ---------------------  ------------  -----------------------
turkiye  1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64536  0.72725  1.1966        -1.19642      1.64467  0.0500711  (>-2.39302/<0.00018)       -2.39302        0.00018   1849   1883    6814.26    4686.71  3.68538  2.48896  26.9835  15.9505  -0.0539791  little_effect             -0.32464                     86           0.1                     1367
turkiye  2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96076  0.72725  1.42597       -1.19642      1.64467  0.100142   (-2.62239,0.22955)         -2.62239        0.22955   1849   1883    6814.26    4686.71  3.68538  2.48896  26.9835  15.9505  -0.0539791  little_effect             -0.32464                     86           0.1                     1367
************************************************End*************************************************

* uk

In [154]:
# conversion rate between the two groups
conv_a_uk = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=="United Kingdom")].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_uk = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=="United Kingdom")].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_uk = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=="United Kingdom")].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_uk = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=="United Kingdom")].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_uk, conv_b_uk, 0.05, False, False, 'uk', 0.10, 0.80)
t_test(spend_a_uk, spend_b_uk, 0.05, False, False, 'uk', 0.10, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): uk scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ     B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  ------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
uk       1-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.64485  0.00656  0.01079     0.00794794      1.21204   0.112748  (>-0.00284/<0.01873)       -0.00284        0.01873   1455   1494         42         55  0.02887  0.03681  0.16743  0.1883   0.044608  little_effect              0.27534                   7864           0.1                    55339
uk       2-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.95996  0.00656  0.01285     0.00794794      1.21204   0.225496  (-0.00490,0.02080)         -0.0049         0.0208    1455   1494         42         55  0.02887  0.03681  0.16743  0.1883   0.044608  little_effect              0.27534                   7864           0.1                    55339
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): uk scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                     Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄    B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  -------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -----  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
uk       1-tail_t_test_unpooled  Reject_H0          0.05  1.64571  1.33546  2.19777        2.38926      -1.7885  0.0369327  (>0.19149/<4.58703)        0.19149        4.58703   1455   1494    3068.22    6720.02  2.10874  4.498  15.3455  49.2207  0.0655373  little_effect              1.13303                     12           0.1                      562
uk       2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96129  1.33546  2.61922        2.38926      -1.7885  0.0738654  (-0.22996,5.00848)        -0.22996        5.00848   1455   1494    3068.22    6720.02  2.10874  4.498  15.3455  49.2207  0.0655373  little_effect              1.13303                     12           0.1                      562
************************************************End*************************************************

* unknown_ctry

In [155]:
# conversion rate between the two groups
conv_a_un_ctry = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=="unknown")].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_un_ctry = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=="unknown")].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_un_ctry = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['country_name']=="unknown")].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_un_ctry = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['country_name']=="unknown")].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_un_ctry, conv_b_un_ctry, 0.05, False, False, 'unknown_country', 0.10, 0.80)
t_test(spend_a_un_ctry, spend_b_un_ctry, 0.05, False, False, 'unknown_country', 0.10, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): unknown_country scope

EXPORT FOR VISUALIZATION:
Scope            Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ     cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
---------------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ----------  ---------------  -----------------  ---------------------  ------------  -----------------------
unknown_country  1-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.64485  0.01686  0.02774     -0.0137082    -0.812971   0.208117  (>-0.04144/<0.01403)       -0.04144        0.01403    296    347         16         14  0.05405  0.04035  0.22612  0.19677  -0.0646751  little_effect              -0.2536                   3737           0.1                    28746
unknown_country  2-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.95996  0.01686  0.03305     -0.0137082    -0.812971   0.416234  (-0.04676,0.01934)         -0.04676        0.01934    296    347         16         14  0.05405  0.04035  0.22612  0.19677  -0.0646751  little_effect              -0.2536                   3737           0.1                    28746
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): unknown_country scope

EXPORT FOR VISUALIZATION:
Scope            Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
---------------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
unknown_country  1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64726  1.49909  2.46939       0.273575    -0.182207   0.427739  (>-2.19581/<2.74296)       -2.19581        2.74296    296    347    966.402    1227.84  3.26487  3.53845  18.3836  19.5862  0.0144029  little_effect              0.08379                   5552           0.1                     3962
unknown_country  2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96371  1.49909  2.94378       0.273575    -0.182207   0.855478  (-2.67020,3.21735)         -2.6702         3.21735    296    347    966.402    1227.84  3.26487  3.53845  18.3836  19.5862  0.0144029  little_effect              0.08379                   5552           0.1                     3962
************************************************End*************************************************

* iOS

In [156]:
# conversion rate between the two groups
conv_a_ios = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['device'] == "iOS")].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_ios = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['device'] == "iOS")].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_ios = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['device'] == "iOS")].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_ios = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['device'] == "iOS")].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_ios, conv_b_ios, 0.05, False, False, 'iOS', 0.10, 0.80)
t_test(spend_a_ios, spend_b_ios, 0.05, False, False, 'iOS', 0.10, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): iOS scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                     Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  -------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
iOS      1-tail_z_test_unpooled  Reject_H0          0.05  1.64485  0.00355  0.00584       0.006135      1.72921  0.0418859  (>0.00030/<0.01197)        0.0003         0.01197   9142   9218        535        596  0.05852  0.06466  0.23473  0.24592  0.0255213  little_effect              0.10483                  24090           0.1                    26420
iOS      2-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.95996  0.00355  0.00695       0.006135      1.72921  0.0837718  (-0.00082,0.01309)        -0.00082        0.01309   9142   9218        535        596  0.05852  0.06466  0.23473  0.24592  0.0255213  little_effect              0.10483                  24090           0.1                    26420
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): iOS scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ      cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  -----------  ---------------  -----------------  ---------------------  ------------  -----------------------
iOS      1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64494  0.47774  0.78585      -0.153667     0.321637   0.373866  (>-0.93952/<0.63218)       -0.93952        0.63218   9142   9218    46370.3    45339.3  5.07223  4.91856  32.2487  32.4845  -0.00474767  little_effect              -0.0303                   3776           0.1                      396
iOS      2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96009  0.47774  0.93641      -0.153667     0.321637   0.747731  (-1.09008,0.78275)         -1.09008        0.78275   9142   9218    46370.3    45339.3  5.07223  4.91856  32.2487  32.4845  -0.00474767  little_effect              -0.0303                   3776           0.1                      396
************************************************End*************************************************

* android

In [157]:
# conversion rate between the two groups
conv_a_android = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['device'] == "Android")].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_android = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['device'] == "Android")].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_android = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['device'] == "Android")].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_android = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['device'] == "Android")].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_android, conv_b_android, 0.05, False, False, 'android', 0.10, 0.80)
t_test(spend_a_android, spend_b_android, 0.05, False, False, 'android', 0.10, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): android scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion       α    Z*/T*       SE      MOE    sample_stat    test-stat      p-value  CI                     Lower_limit    Upper_limit    A_#    B_#    A_value    B_value     A_x̄      B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  ------------  ----  -------  -------  -------  -------------  -----------  -----------  -------------------  -------------  -------------  -----  -----  ---------  ---------  ------  -------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
android  1-tail_z_test_unpooled  Reject_H0     0.05  1.64485  0.00201  0.0033      0.00754751      3.76382  8.36698e-05  (>0.00425/<0.01085)        0.00425        0.01085  15054  15235        417        537  0.0277  0.03525  0.16411  0.18441  0.0432387  little_effect              0.27247                   8371           0.1                    57741
android  2-tail_z_test_unpooled  Reject_H0     0.05  1.95996  0.00201  0.00393     0.00754751      3.76382  0.00016734   (0.00362,0.01148)          0.00362        0.01148  15054  15235        417        537  0.0277  0.03525  0.16411  0.18441  0.0432387  little_effect              0.27247                   8371           0.1                    57741
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): android scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ     cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ----------  ---------------  -----------------  ---------------------  ------------  -----------------------
android  1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.6449   0.23039  0.37897       0.153255    -0.665179   0.25297   (>-0.22571/<0.53222)       -0.22571        0.53222  15054  15235    34814.5    37567.9  2.31264  2.46589  20.1437  19.9503  0.00764471  little_effect              0.06627                    207           0.1                       94
android  2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96004  0.23039  0.45157       0.153255    -0.665179   0.505941  (-0.29832,0.60483)         -0.29832        0.60483  15054  15235    34814.5    37567.9  2.31264  2.46589  20.1437  19.9503  0.00764471  little_effect              0.06627                    207           0.1                       94
************************************************End*************************************************

* unknown_device

In [158]:
# conversion rate between the two groups
conv_a_un_device = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['device'] == "unknown")].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_un_device = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['device'] == "unknown")].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_un_device = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['device'] == "unknown")].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_un_device = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['device'] == "unknown")].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_un_device, conv_b_un_device, 0.05, False, False, 'unknown_device', 0.10, 0.80)
t_test(spend_a_un_device, spend_b_un_device, 0.05, False, False, 'unknown_device', 0.10, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): unknown_device scope

EXPORT FOR VISUALIZATION:
Scope           Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
--------------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
unknown_device  1-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.64485  0.02006  0.03299      0.0204082      1.01745   0.154469  (>-0.01258/<0.05340)       -0.01258        0.0534     147    147          3          6  0.02041  0.04082  0.14139  0.19786   0.118678  little_effect                    1                   1087           0.1                    78990
unknown_device  2-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.95996  0.02006  0.03931      0.0204082      1.01745   0.308938  (-0.01890,0.05972)         -0.0189         0.05972    147    147          3          6  0.02041  0.04082  0.14139  0.19786   0.118678  little_effect                    1                   1087           0.1                    78990
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): unknown_device scope

EXPORT FOR VISUALIZATION:
Scope           Test                    Conclusion            α    Z*/T*      SE       MOE    sample_stat    test-stat    p-value  CI                       Lower_limit    Upper_limit    A_#    B_#    A_value    B_value     A_x̄      B_x̄      A_σ      B_σ     cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
--------------  ----------------------  -----------------  ----  -------  ------  --------  -------------  -----------  ---------  ---------------------  -------------  -------------  -----  -----  ---------  ---------  ------  -------  -------  -------  ----------  ---------------  -----------------  ---------------------  ------------  -----------------------
unknown_device  1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.6538   5.9944   9.91352       -3.08161     0.512329    0.30454  (>-12.99513/<6.83191)       -12.9951        6.83191    147    147      961.1    508.104  6.5381  3.45649  69.6962  20.6051  -0.0599636  little_effect             -0.47133                   2989           0.1                   114639
unknown_device  2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.97391  5.9944  11.8324        -3.08161     0.512329    0.60908  (-14.91400,8.75079)         -14.914         8.75079    147    147      961.1    508.104  6.5381  3.45649  69.6962  20.6051  -0.0599636  little_effect             -0.47133                   2989           0.1                   114639
************************************************End*************************************************

* male

In [159]:
# conversion rate between the two groups
conv_a_male = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['gender'] == "Male")].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_male = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['gender'] == "Male")].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_male = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['gender'] == "Male")].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_male = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['gender'] == "Male")].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_male, conv_b_male, 0.05, False, False, 'male', 0.10, 0.80)
t_test(spend_a_male, spend_b_male, 0.05, False, False, 'male', 0.10, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): male scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion       α    Z*/T*       SE      MOE    sample_stat    test-stat     p-value  CI                     Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄     A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  ------------  ----  -------  -------  -------  -------------  -----------  ----------  -------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  ------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
male     1-tail_z_test_unpooled  Reject_H0     0.05  1.64485  0.00247  0.00406      0.0116509      4.71477  1.2099e-06  (>0.00759/<0.01572)        0.00759        0.01572  10054  10235        264        388  0.02626  0.03791  0.1599  0.19098  0.0661511  little_effect              0.44371                   3562           0.1                    61007
male     2-tail_z_test_unpooled  Reject_H0     0.05  1.95996  0.00247  0.00484      0.0116509      4.71477  2.4198e-06  (0.00681,0.01649)          0.00681        0.01649  10054  10235        264        388  0.02626  0.03791  0.1599  0.19098  0.0661511  little_effect              0.44371                   3562           0.1                    61007
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): male scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
male     1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64493  0.29932  0.49237       0.351106     -1.17294   0.120417  (>-0.14126/<0.84347)       -0.14126        0.84347  10054  10235    22616.2    26616.9  2.24948  2.60058  21.0649  21.5703   0.016469  little_effect              0.15608                     67           0.1                      154
male     2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96008  0.29932  0.5867        0.351106     -1.17294   0.240834  (-0.23559,0.93780)         -0.23559        0.9378   10054  10235    22616.2    26616.9  2.24948  2.60058  21.0649  21.5703   0.016469  little_effect              0.15608                     67           0.1                      154
************************************************End*************************************************

* female

In [160]:
# conversion rate between the two groups
conv_a_female = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['gender'] == "Female")].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_female = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['gender'] == "Female")].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_female = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['gender'] == "Female")].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_female = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['gender'] == "Female")].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_female, conv_b_female, 0.05, False, False, 'female', 0.10, 0.80)
t_test(spend_a_female, spend_b_female, 0.05, False, False, 'female', 0.10, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): female scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄     A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  ------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
female   1-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.64485  0.00316  0.00519     0.00292332     0.926454   0.177105  (>-0.00227/<0.00811)       -0.00227        0.00811  10069  10061        518        547  0.05145  0.05437  0.2209  0.22674  0.0130597  little_effect              0.05682                  92025           0.1                    30292
female   2-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.95996  0.00316  0.00618     0.00292332     0.926454   0.35421   (-0.00326,0.00911)         -0.00326        0.00911  10069  10061        518        547  0.05145  0.05437  0.2209  0.22674  0.0130597  little_effect              0.05682                  92025           0.1                    30292
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): female scope

EXPORT FOR VISUALIZATION:
Scope    Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ     cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
-------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ----------  ---------------  -----------------  ---------------------  ------------  -----------------------
female   1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64493  0.42648  0.70153      -0.332911     0.780562   0.217535  (>-1.03444/<0.36862)       -1.03444        0.36862  10069  10061    44936.2    41551.1  4.46283  4.12992  30.6029  29.9026  -0.0110036  little_effect              -0.0746                    488           0.1                      324
female   2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96008  0.42648  0.83594      -0.332911     0.780562   0.43507   (-1.16885,0.50303)         -1.16885        0.50303  10069  10061    44936.2    41551.1  4.46283  4.12992  30.6029  29.9026  -0.0110036  little_effect              -0.0746                    488           0.1                      324
************************************************End*************************************************

* other_gender

In [161]:
# conversion rate between the two groups
conv_a_other_gender = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['gender'] == "Other")].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_other_gender = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['gender'] == "Other")].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_other_gender = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['gender'] == "Other")].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_other_gender = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['gender'] == "Other")].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_other_gender, conv_b_other_gender, 0.05, False, False, 'other_gender', 0.10, 0.80)
t_test(spend_a_other_gender, spend_b_other_gender, 0.05, False, False, 'other_gender', 0.10, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): other_gender scope

EXPORT FOR VISUALIZATION:
Scope         Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄     B_x̄      A_σ      B_σ     cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
------------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  ------  -------  -------  ----------  ---------------  -----------------  ---------------------  ------------  -----------------------
other_gender  1-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.64485  0.00852  0.01401    -0.00198077    -0.232539   0.40806   (>-0.01599/<0.01203)       -0.01599        0.01203    808    861         26         26  0.03218  0.0302  0.17647  0.17113  -0.0113954  little_effect             -0.06156                 120861           0.1                    49465
other_gender  2-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.95996  0.00852  0.01669    -0.00198077    -0.232539   0.816119  (-0.01868,0.01471)         -0.01868        0.01471    808    861         26         26  0.03218  0.0302  0.17647  0.17113  -0.0113954  little_effect             -0.06156                 120861           0.1                    49465
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): other_gender scope

EXPORT FOR VISUALIZATION:
Scope         Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ      cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
------------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  -----------  ---------------  -----------------  ---------------------  ------------  -----------------------
other_gender  1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64578  0.92758  1.52658     0.00265471  -0.00286027   0.498859  (>-1.52393/<1.52924)       -1.52393        1.52924    808    861    2236.01    2384.96  2.76734  2.76999  19.2702  18.5769  0.000140262  little_effect              0.00096               15694022           0.1                     1595
other_gender  2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.9614   0.92758  1.81935     0.00265471  -0.00286027   0.997718  (-1.81669,1.82200)         -1.81669        1.822      808    861    2236.01    2384.96  2.76734  2.76999  19.2702  18.5769  0.000140262  little_effect              0.00096               15694022           0.1                     1595
************************************************End*************************************************

* unknown_gender

In [162]:
# conversion rate between the two groups
conv_a_un_gender = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['gender'] == "unknown")].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
conv_b_un_gender = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['gender'] == "unknown")].pivot_table(values='conversion', index='user_id', aggfunc='mean', fill_value=0)['conversion']
# amount spent per user between the two groups
spend_a_un_gender = df_ab[(df_ab['test_group'] == "A: control") & (df_ab['gender'] == "unknown")].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
spend_b_un_gender = df_ab[(df_ab['test_group'] == "B: treatment") & (df_ab['gender'] == "unknown")].pivot_table(values='spend_USD', index='user_id', aggfunc='mean', fill_value=0)['spend_USD']
z_test(conv_a_un_gender, conv_b_un_gender, 0.05, False, False, 'unknown_gender', 0.10, 0.80)
t_test(spend_a_un_gender, spend_b_un_gender, 0.05, False, False, 'unknown_gender', 0.10, 0.80)

***********************************************Start************************************************
Unpooled Z-Test (difference in proportions): unknown_gender scope

EXPORT FOR VISUALIZATION:
Scope           Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                     Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄     B_x̄      A_σ      B_σ    cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
--------------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  -------------------  -------------  -------------  -----  -----  ---------  ---------  -------  ------  -------  -------  ---------  ---------------  -----------------  ---------------------  ------------  -----------------------
unknown_gender  1-tail_z_test_unpooled  Reject_H0          0.05  1.64485  0.00513  0.00844     0.00861586      1.67933  0.0465438  (>0.00018/<0.01705)        0.00018        0.01705   3412   3443        147        178  0.04308  0.0517  0.20304  0.22142  0.0405585  little_effect              0.19998                   9527           0.1                    36507
unknown_gender  2-tail_z_test_unpooled  Fail_to_reject_H0  0.05  1.95996  0.00513  0.01006     0.00861586      1.67933  0.0930876  (-0.00144,0.01867)        -0.00144        0.01867   3412   3443        147        178  0.04308  0.0517  0.20304  0.22142  0.0405585  little_effect              0.19998                   9527           0.1                    36507
************************************************End*************************************************

***********************************************Start************************************************
Unpooled T-Test (differences in means): unknown_gender scope

EXPORT FOR VISUALIZATION:
Scope           Test                    Conclusion            α    Z*/T*       SE      MOE    sample_stat    test-stat    p-value  CI                      Lower_limit    Upper_limit    A_#    B_#    A_value    B_value      A_x̄      B_x̄      A_σ      B_σ     cohen_d  practical_sig      relative_change    min_req_sample_size    target_MDE    MDE_equiv_sample_size
--------------  ----------------------  -----------------  ----  -------  -------  -------  -------------  -----------  ---------  --------------------  -------------  -------------  -----  -----  ---------  ---------  -------  -------  -------  -------  ----------  ---------------  -----------------  ---------------------  ------------  -----------------------
unknown_gender  1-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.64508  0.58216  0.9577        0.114028     -0.19584   0.42237   (>-0.84367/<1.07173)       -0.84367        1.07173   3412   3443    12357.4    12862.3  3.62175  3.73578  25.1508  22.9906  0.00473243  little_effect              0.03148                   6061           0.1                      644
unknown_gender  2-tail_t_test_unpooled  Fail_to_reject_H0  0.05  1.96031  0.58216  1.14122       0.114028     -0.19584   0.844741  (-1.02719,1.25525)         -1.02719        1.25525   3412   3443    12357.4    12862.3  3.62175  3.73578  25.1508  22.9906  0.00473243  little_effect              0.03148                   6061           0.1                      644
************************************************End*************************************************